.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  max-width: 620px;
  box-sizing: border-box;
  margin: 0;
  padding: 100px 0 52px 0;
}

.elements {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 0 0 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 464px;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 0;
  padding: 0 8px 0 0;
  list-style: none;
}

.content::-webkit-scrollbar {
  width: 8px;
}

.content::-webkit-scrollbar-track {
  background: #2F2F37;
}

.content::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.bun {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0 16px 0 32px;
}

.element {
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  width: 100%;
  box-sizing: border-box;
  margin: 40px 0 0 0;
  padding: 0;
}

.sum {
  display: flex;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hoverBackground {
  background: #8585AD;
}

.chekConstructorOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height: 100%;
  margin-top: 95px;
  padding: 50px;
  border: 3px solid #8585AD;
}

.chekConstructorTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
  border-radius: 30px;
  margin-left: 32px;
  padding: 50px;
  overflow: hidden;
}

.chekConstructorText {
  text-align: center; 
}

.chekImage {
  width: 150px;
  height: 150px;
  background: url("../../images/logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  animation: pulse 4s linear infinite;
}

.chekTextTop {
  text-align: center;  
  opacity: 0;
  -webkit-animation-name: fade_one;
          animation-name: fade_one;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;          
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.chekTextBottom {
  text-align: center;
  opacity: 0;
  -webkit-animation-name: fade_two;
          animation-name: fade_two;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;          
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@-webkit-keyframes fade_one {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: .5;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade_one {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: .5;
    transform: translateX(-50%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-webkit-keyframes fade_two {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade_two {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}