.order_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-height: 312px;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 0;
  padding: 0 24px 0 0;
  list-style: none;
}

.order_content::-webkit-scrollbar {
  width: 8px;
}

.order_content::-webkit-scrollbar-track {
  background: #2F2F37;
}

.order_content::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}
