.box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 40px 0 0 0;
}

.profile {
  display: flex;
  gap: 60px;
  width: 100%;
  justify-content: flex-start;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 480px;
  box-sizing: border-box;
  margin: 0;
  padding: 80px 0 0 0;
}

.buttons {
  display: flex;
  gap: 8px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}