.box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 180px 0 0 0;
}

.boxProfile {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 120px 0 0 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.profile {
  display: grid;
  grid-template-columns: 320px 1fr 320px;
  grid-column-gap: 60px;
  width: 100%;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.buttons {
  display: flex;
  gap: 8px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.panel {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link_box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link {
  color: #4c4cff;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0;
  padding: 0;
}

.link:hover {
  color: #b1b1f8;
}

.description {
  opacity: 0.4;
}

.profile_links {
  box-sizing: border-box;
  padding: 0;
  list-style: none;
}

.profile_link {
  color: var(--text-inactive-color);
  text-decoration: none;
  transition: 0.3s;
}

.profile_link:hover {
  color: #b1b1f8;
}

.profile_link_active {
  color: var(--text-primary-color);
  text-decoration: none;
  cursor: auto;
}

.not_found {
  /* color: var(--text-inactive-color); */
  color: rgba(110, 110, 110, 0.5);
  text-shadow: 0 4px 32px rgba(51, 51, 255, 0.5),
    0 8px 8px rgba(51, 51, 255, 0.5), 0 0 16px rgba(51, 51, 255, 0.25);
  animation: pulse 10s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  5% {
    opacity: .3;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: .3;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: .3;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: .3;
  }
  40% {
    opacity: 0;
  }
  45% {
    opacity: .3;
  }
  50% {
    opacity: 0;
  }
  55% {
    opacity: .3;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: .3;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: .3;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: .3;
  }
  90% {
    opacity: 0;
  }
  95% {
    opacity: .3;
  }
  100% {
    transform: scale(5);
    opacity: 0;
  }
}

.box_ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px auto 0 auto;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 64px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  opacity: 0;
  -webkit-animation-name: scroll_title;
          animation-name: scroll_title;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;          
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes scroll_title {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scroll_title {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
