.modal {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: fit-content;
  background: #1C1C21;
  border-radius: 40px;
  box-sizing: border-box;
  margin: 0;
  padding: 40px;
}

.button {
  position: absolute;
  top: 60px;
  right: 40px;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
