.box {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  width: 640px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 122px 0 0 0;
}

.id {
  text-align: center;
}

.active {
  color: #00CCCC
}

.order_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 312px;
  overflow-y: scroll;
  box-sizing: border-box;
  margin: 0;
  padding: 0 24px 0 0;
  list-style: none;
}

.order_content::-webkit-scrollbar {
  width: 8px;
}

.order_content::-webkit-scrollbar-track {
  background: #2F2F37;
}

.order_content::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.order_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.order_ingredient {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 100%; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.order_image {
  width: 64px;
  height: 64px;
  background: linear-gradient(#131316, #131316) padding-box,
              linear-gradient(60deg, #801AB2, #4C4CFF) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.order_price {
  display: flex;
  gap: 8px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.order_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 8px; */
  box-sizing: border-box;
  margin: 0;
  padding: 40px 0 0 0;
}

.order_total {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

