.order_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.order_ingredient {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.order_image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  background: linear-gradient(#131316, #131316) padding-box,
              linear-gradient(60deg, #801AB2, #4C4CFF) border-box;
  border: 2px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  animation: pulse 3s linear infinite;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.ingredient_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  width: 112px;
}

.order_price {
  display: flex;
  gap: 8px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}