.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #1C1C21;
  border: 2px solid #1C1C21;
  border-radius: 40px;
  box-sizing: border-box;
  margin: 0;
  padding: 24px;
  cursor: pointer;
  transition: .2s;
}

.card:hover {
  transform: scale(.98);
  border: 2px solid rgb(73, 72, 72);
}

.link {
  text-decoration: none;
  color: #F2F2F3;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card_id {
  opacity: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;          
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card_date {
  opacity: 0;
  -webkit-animation-name: scroll-from-top;
          animation-name: scroll-from-top;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;          
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes scroll-from-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: .5;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll-from-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: .5;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.card_title {
  margin: 24px 0 0 0;
  opacity: 0;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;          
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.card_result {
  margin: 8px 0 0 0;
  opacity: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
  -webkit-animation-duration: .8s;
          animation-duration: .8s;          
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.number {
  opacity: 0;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;          
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.currency {
  opacity: 0;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
  -webkit-animation-duration: .6s;
          animation-duration: .6s;          
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: .5;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: .5;
    transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 24px 0 0 0;
}

.price {
  display: flex;
  justify-self: flex-end;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
